*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 130px;
}
.header_web_name{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    padding-left: 100px;
    color: rgb(19, 19, 89);
}
.icons{
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Categories{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Display_adds{
    height: 500px;
    margin-top: 20px;
}
.Display_adds>img{
    width: 70%;
    height: 100%;
    display: flex;
    margin: auto;
}
.pick-idea{
    width: 100%;
    height: 650px;
    margin-top: 20px;
}
.fresh-pick{
    font-family: Edu SA Beginner;
    text-align: center;
}
.pick-idea-collection{
    margin-top: 20px;
    width: 90%;
    height: 50px;
    border-bottom: 1px solid black;
    margin: auto;
}
.pick-idea-menu{
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    font-family: Edu SA Beginner;
}
.pick-idea-item{
    height: 400px;
}





.footer{
    height: 650px;
    background-color: rgba(84, 214, 214, 0.411);
}
.footer_image_container{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_image_container>img{
    width: 20%
}
.footer_web_title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}.connect_with_us{
    text-align: center;
    font-size: 30px;
    margin: 10px 10px;
}
.login_decription{
    margin: 5px 5px;
    font-family: sans-serif;
}
.social_logo{
    margin-top: 20px;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 60px;
}
.logo{
    width: 80%;
    height: 90%;
    margin: 5px 5px;
}
.logo_youtub{
    width: 60%;
    height: 70%;
    margin: 5px 5px;
}